
.header{
    background-color: brown;
    text-align: center;
    padding: 30px 0;
}
.element{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    background-color:cornflowerblue;
}